@charset "utf-8";
/* CSS Document */
.public-friend-status{position:absolute; right:265px; bottom:15px;}
.cover.profile .wrapper .friends li {
float: left;
margin: 0;
width: 33.333%;
padding-left:1px;
padding-bottom:1px;
overflow:hidden;
}
.cover.profile {
position: relative;
background: #fff;
border-width:0 1px 0px 1px; border-style:solid; border-color:#ddd;
border-radius:0 0;
margin-top:50px;
}
.cover {
overflow: hidden;
position: relative;
margin-bottom:0px;
}
.wraper{position:relative;}
.cover.profile .wrapper {
position: relative;
overflow: hidden;
max-height: 330px;
border-bottom: 0px solid #e2e9e6;
background:#000;
}
.cover.profile .wrapper .image {
width: 100%;
padding-right: 250px;
overflow-y: hidden;
position: relative;
background:#000;
height:330px;
}
.cover-pix{ background:url(../img/cricket.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:#000;
  height:330px;
}
/*.wrapper img {vertical-align:bottom; height:100%; width:100%;}*/
.cover.profile .wrapper .friends {
list-style: none;
display: inline-block;
position: absolute;
background: #fff;
top: 0;
right: 0;
width: 250px;
height: 330px;
z-index: 2;
margin-bottom: 0;
padding: 0;
margin-top:0;
}
.cover.profile .cover-info .avatar {
position: absolute;
display: inline-block;
bottom: 0;
margin: 15px 0;
left: 15px;
z-index: 4;
}
.avatar{border-radius:100px; overflow:hidden; border:2px solid #fff;}
.cover.profile .cover-info {
position: relative;
border-radius:0 0 4px 4px;
padding:0px 0;
}
.cover.profile .cover-info .name {
position: absolute;
left: 145px;
bottom: 0;
margin-bottom: 50px;
display: block;
z-index: 3;
}
.name a{color:#fff; font-size:28px; font-weight:bold; text-decoration:none;}
.name span{font-size:14px; color:#fff; display:block; margin-top:-8px;}
.cover.profile .cover-info .cover-nav {
position: absolute;
bottom: 0;
left: 140px;
list-style: none;
float: left;
margin: 0;
padding-left: 0;
padding-bottom:5px;
}
.nav-icon{margin-right:10px;}
.profile-nav-wrapper{padding:0px; background:#fff; padding-left:0px; margin-bottom:10px; border-width:0 1px 1px 1px; border-style:solid; border-color:#ddd; border-radius:0 0 4px 4px;}
.profile-nav-wrapper .cover-nav {
list-style: none;
float: left;
margin: 0;
padding-left: 0;
}
.profile-nav-wrapper .cover-nav li {
border-right: 1px solid #e2e9e6;
border-bottom: 0px solid transparent;
}
.profile-nav-wrapper .cover-nav li:last-child {
border-right: 0px solid #e2e9e6;
border-bottom: 0px solid transparent;
}
.profile-nav-wrapper .cover-nav li {
float: left;
display: block;
}
.profile-nav-wrapper .cover-nav>li>a {
padding: 15px 25px;
color: #666;
display: block;
font-weight:700;
text-decoration:none;
border-bottom:3px solid transparent;
font-size:14px;
}
.profile-nav-wrapper .cover-nav>li.active>a {
background: 0 0;
color: #000;
border-bottom:3px solid #f60;
padding:15px 25px;
font-weight:700;
}
.profile-nav-wrapper .cover-nav>li>a:hover{
background: 0 0;
color: #333;
border-bottom:3px solid #f60;
padding:15px 25px;
}



.content-header{
    background-color: #FFFFFF;
    border-style:solid; border-width:1px; border-color:#ddd;
    border-radius: 4px 4px 0 0;
    min-height: 20px;
    padding:15px 15px 5px 15px;
}.content-header .header-inner, .content-no-header .no-header-inner {
    background-color: #FFFFFF;
}
.content-header h2 {
    color: #333;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
	padding:0;
	margin:0;
}
.content-body{padding:20px; background:#fff; border-radius:0 0 4px 4px; border-style:solid; border-width:0 1px 1px 1px; border-color:#ddd;}



/*top nav*/
.nav-menu{padding:0px; background:transparent !important; margin-top:13px; border-radius:0px;}
.navbar-top {
background-color: #0091d7;
border-color: #0091d7;
}

/*top nav ends*/

.navbar-nav > li > a {
    padding-bottom: 13px;
    padding-top:13px;
	margin-bottom:0px;
	padding-left:0; padding-right:0px;
	margin:0 10px;
	color:#fff;
}
.sr-only {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow: hidden;
clip: rect(0,0,0,0);
border: 0;
}
.nav>li>a:hover {
background:transparent !important;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
background: transparent !important;
border-color: #428bca;
}
.navbar-default .navbar-nav>.dropdown>a .caret {
border-top-color: #fff;
border-bottom-color: #fff;
}
.caret {
display: inline-block;
width: 0;
height: 0;
margin-left: 5px;
border-top: 4px solid #fff;
border-right: 4px solid transparent;
border-bottom: 0 dotted;
border-left: 4px solid transparent;
}
.caret-black {
display: inline-block;
width: 0;
height: 0;
margin-left: 2px;
border-top: 4px solid #999;
border-right: 4px solid #999;
border-bottom: 4px solid #999;
border-left:4px solid #999;
margin-bottom:1px;
border-radius:100px;
}
.caret-black:first-child{margin-left:0px;}
.navbar-form {
padding: 0px 5px;
margin-top: 8px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
border: 0px solid transparent;
}
.caret-right{display:none;}
.navbar-brand {
position: relative;
height: 50px;
line-height: 50px;
padding: 0px;
padding-left:10px;
font-size: 18px;
font-weight: 700;
float: left;
color:#fff;
margin-right:55px;
}
.hide-show{display:none;}
.hide-show-reverse{display:inline-block;}
.top-profile-pix-img{width:30px; height:30px; display:inline-block; border-radius:100px; overflow:hidden; margin-right:0px; margin-left:10px; margin-top:10px; background-size:contain;}


.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
margin-right:-5px;
margin-left: -5px;
}
.more-nav-show{display:inherit; border-left:1px solid #e2e9e6; border-right:0px;}

@media (min-width: 220px) and (max-width : 479px) {
.public-friend-status{position:absolute; right:15px; bottom:15px;}
.xtra-pad{padding:0 5px;}
.more-nav-show{display:none;}
.caret-right{float:right !important; display:inherit;}
.navbar-right .dropdown-menu {
right: 0;
left: auto;
}
.nav-menu{padding:0px 0 0 15px; background:transparent !important; margin-top:13px; border-radius:0px;}
	.navbar-form .form-control {
display: inline-block;
width: 350px;
}
.nav-icon{margin-right:5px;}
.hide-show{display:inherit; padding:0;}
.hide-show-reverse{display:none;}
.cover.profile .wrapper .friends {
display:none;}
.navbar-nav > li > a {
    padding-bottom: 13px;
    padding-top:13px;
	margin-bottom:0px;
	padding-left:0; padding-right:0px;
	margin:0 5px;
	color:#fff;
}

/*.profile-nav-wrapper .cover-nav>li>a {
padding: 15px 11px;
color: #666;
display: block;
font-weight:700;
text-decoration:none;
}
.profile-nav-wrapper .cover-nav>li.active>a, .profile-nav-wrapper .cover-nav>li>a:hover {
background: 0 0;
color: #000;
border-bottom:3px solid #f60;
padding:15px 11px;
}*/
.profile-nav-wrapper .cover-nav>li>a {
padding: 15px 11px;
color: #666;
display: block;
font-weight:700;
text-decoration:none;
border-bottom:3px solid transparent;
font-size:14px;
}
.profile-nav-wrapper .cover-nav>li.active>a {
background: 0 0;
color: #000;
border-bottom:3px solid #f60;
padding:15px 11px;
font-weight:700;
}
.stay-active {
border-bottom:3px solid #f60;
}
.profile-nav-wrapper .cover-nav>li>a:hover{
background: 0 0;
color: #333;
border-bottom:3px solid #f60;
padding:15px 11px;
}

.cover.profile .wrapper .image {
    background: none repeat scroll 0 0 #000;
    overflow-y: hidden;
    padding-right:0px;
    position: relative;
    text-align: center;
    width: 100%;
		height:240px;
}
.cover.profile .cover-info .avatar {
position: absolute;
display: inline-block;
bottom: 0;
margin-bottom: 15px;
left: 15px;
z-index: 4;
}
.avatar img{height:80px; width:80px;}
.cover.profile .cover-info .name {
    bottom: 0;
    display: block;
    left: 115px;
    margin-bottom: 45px;
    position: absolute;
    z-index: 3;
}
.name a{color:#fff; font-size:18px; font-weight:bold; text-decoration:none;}
.name span{font-size:14px; color:#fff; display:block; margin-top:-8px;}
.cover.profile .cover-info .cover-nav {
    bottom: 0;
    float: left;
    left: 105px;
    list-style: none outside none;
    margin: 0;
    padding-bottom: 5px;
    padding-left: 0;
    position: absolute;
}
.hide-sidebar .navbar [data-toggle=sidebar-menu].visible-xs {
display: none!important;
}
.navbar-brand {
position: relative;
height: 50px;
line-height: 50px;
padding-left: 10px;
font-size: 18px;
font-weight: 700;
float: left;
color:#fff;
margin-right:5px;
}
}

@media (min-width: 480px) and (max-width: 859px) {
.public-friend-status{position:absolute; right:135px; bottom:15px;}
.xtra-pad{padding:0px;}
.more-nav-show{display:none;}
.caret-right{float:right !important; display:block;}
.navbar-right .dropdown-menu {
right: 0;
left: auto;
}
.profile-nav-wrapper .cover-nav>li>a {
line-height: 20px;
padding: 15px 25px;
color: #666;
font-size: 14px;
font-weight: 700;
display: block;
text-decoration:none;
}
.profile-nav-wrapper .cover-nav>li.active>a, .profile-nav-wrapper .cover-nav>li>a:hover {
background: 0 0;
color: #000;
border-bottom:3px solid #f60;
padding:15px 25px;
}
.nav-menu{padding:0px 0 0 15px; background:transparent !important; margin-top:13px; border-radius:0px;}
.navbar-form .form-control {
display: inline-block;
width: 220px;
}
.hide-show{display:inline-block;
		}
.hide-show-reverse{display:none;}
.navbar-brand {
position: relative;
height: 50px;
line-height: 50px;
padding-left: 0px;
font-size: 18px;
font-weight: 700;
float: left;
color:#fff;
margin-right:5px;
}
.navbar-nav > li > a {
    padding-bottom: 13px;
    padding-top:13px;
	margin-bottom:0px;
	padding-left:0; padding-right:0px;
	margin:0 5px;
	color:#fff;
}


.navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse{padding-left:0;padding-right:0}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin-left: -15px;
}
.hide-sidebar .navbar [data-toggle=sidebar-menu].visible-xs {
display: none!important;
}
.hide-sidebar .navbar .navbar-brand {
margin-left: 0;
}
.navbar-toggle {
display: none;
}
.navbar-nav {
float: left;
margin: 0;
}
.navbar-nav>li {
float: left;
}

.cover.profile .wrapper {
    border-bottom: 0 solid #E2E9E6;
    max-height: 240px;
    overflow: hidden;
    position: relative;
}
.cover.profile .wrapper .friends {
position: absolute;
right: 0;
width: 120px;
height: auto;}
.cover.profile .wrapper .image {
padding-right: 120px;
position: relative;
}
.avatar img{height:90px; width:90px;}
.cover.profile .wrapper .friends li {
    float: left;
    margin: 0;
    padding-bottom: 1px;
    padding-left: 1px;
    width: 50%;
}
.cover.profile .cover-info .name {
    bottom: 0;
    display: block;
    left: 125px;
    margin-bottom: 45px;
    position: absolute;
    z-index: 3;
}
.name a{color:#fff; font-size:18px; font-weight:bold; text-decoration:none;}
.name span{font-size:14px; color:#fff; display:block; margin-top:-8px;}
}
@media (min-width: 860px) and (max-width: 1139px) {
.caret-right{float:right; display:none;}
.navbar-form .form-control {
display: inline-block;
width: 300px;
}
.navbar-nav > li > a {
    padding-bottom: 13px;
    padding-top:13px;
	margin-bottom:0px;
	padding-left:0; padding-right:0px;
	margin:0 10px;
	color:#fff;
}
}