@charset "utf-8";
/* CSS Document */
.show-xs{display:none;}
.show-lg{display:inline-block;}
.show-search{display:inline-block;}

.navbar-brand {
position: relative;
height: 50px;
line-height: 50px;
padding: 0px;
padding-left:0px;
font-size: 18px;
font-weight: 700;
float: right;
color:#fff;
margin-right:55px;
}
.nav-menu{padding:0px 0 0 0px; background:transparent !important; margin-top:13px; border-radius:0px; float:left;}
.top-header-logo{
margin-right:5px;
margin-left: 5px;
display:inline-block;
float:left;
}
.nav-icon{margin-right:0px; padding:0 0px;}
.navbar-nav {
    margin: 0px 0 0 5px;
	display:inline-block;
}
.navbar-nav > li > a {
    line-height: 20px;
    padding-bottom: 15px;
    padding-top: 12px;
	padding-right:15px;
	padding-left:15px;
}
.nav > li > a {
    display:inline-block;
    position: relative;
}
.nav > li > a:hover {
    background: transparent !important;	
}
.nav > li {
    display: inline-block;
    position: relative;
}
.nav-pad{padding:12px 5px;}
.navbar-form .form-control {
display: inline-block;
width: 550px;
}
.navbar-form {
padding: 0px 5px;
margin-top: 8px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 15px;
border: 0px solid transparent;
float:right;
}
.navbar-form.navbar-right:last-child {
margin-right: 0px;
}
.search-button{margin-left:-15px; margin-bottom:0px;}
.top-profile-pix-img{width:35px; height:35px; display:inline-block; border-radius:100px; overflow:hidden; margin-right:0px; margin-left:10px; margin-top:7px; background-size:contain;}

.navbar-default .navbar-nav>.dropdown>a .caret {
border-top-color: #fff;
border-bottom-color: #fff;
}
.nav .caret {
border-top-color: #fff;
border-bottom-color: #fff;
}
.caret {
display: inline-block;
width: 0;
height: 0;
margin-left: 5px;
border-top: 4px solid #fff;
border-right: 4px solid transparent;
border-bottom: 0 dotted;
border-left: 4px solid transparent;
}

@media (min-width: 220px) and (max-width : 479px) {
.show-xs{display:inline-block;}
.show-lg{display:none;}
.show-search{display:inline-block;}
.search-button{margin-left:-15px; margin-bottom:2px;}
.nav-pad{padding:12px 5px;}
.top-header-logo{
margin-right:5px;
margin-left: 5px;
display:inline-block;
float: left;}
.nav-icon{margin-right:5px;}
.navbar-form .form-control {
display: inline-block;
width: 145px;
}
.navbar-form {
padding: 0px 5px;
margin-top: 8px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 5px;
border: 0px solid transparent;
float:right;
}
.navbar-nav > li > a {
    line-height: 20px;
    padding-bottom: 15px;
    padding-top: 12px;
	padding-right:5px;
	padding-left:5px;
}
}

@media (min-width: 480px) and (max-width: 859px) {
.search-button{margin-left:-15px; margin-bottom:2px;}
.nav-pad{padding:12px 5px;}
.top-header-logo{
margin-right:35px;
margin-left: 5px;
display:inline-block;
float: left;}
.navbar-form .form-control {
display: inline-block;
width: 225px;
margin-left:-25px;
}
.show-xs{display:inline-block;}
.show-lg{display:none;}
.show-search{display:inline-block;}
.nav-icon{margin-right:5px;}
.navbar-nav > li > a {
    line-height: 20px;
    padding-bottom: 15px;
    padding-top: 12px;
	padding-right:5px;
	padding-left:5px;
}
}

@media (min-width: 860px) and (max-width: 1139px) {
.navbar-nav > li > a {
    line-height: 20px;
    padding-bottom: 15px;
    padding-top: 12px;
	padding-right:10px;
	padding-left:10px;
}
.navbar-form .form-control {
display: inline-block;
width: 350px;
}
.show-xs{display:none;}
.show-lg{display:inline-block;}
.show-search{display:inline-block;}
.nav-icon{margin-right:5px;}
}
